/* 
Work that still needs to be done:
	- 	Styling needs to be added to CSS to show which buttons are pressed
	-	Link to Github must be added
	-	Layout could possibly change but that is lowest priority
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
}

#container {
	width: 100vw;
	height: 100vh;
	background: #199ca8;
	position: relative;
}

#display-bar {
	width: 100%;
	height: 200px;
	background: white;
	color: black;
	border-bottom: 1px solid black;
}

#display-text {
	line-height: 200px;
	font-size: 12.5em;
	float: right;
	padding: 0 40px;
}

#all-buttons {
	height: 480px;
	z-index: 0;
	display: grid;
	grid-gap: none;
	grid-template-columns: 58% 42%;
	grid-template-rows: 15% 85%;
	grid-template-areas: 'top top' 'left right';
	border: 1px solid black;
	border-top: none;
}

button {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	border: 1px solid black;
	text-shadow: 0 0 5px rgb(0, 0, 0, 0.7);
	transition: background 200ms;
}

button:hover {
	cursor: pointer;
	background: #12848e;
}

button:focus, button:active {
	outline: none;
}

button#focused {

}

#top-buttons {
	grid-area: top;
	display: grid;
	grid-template-columns: 58% 42%;
}

#top-buttons > button {
	background: #2d2d2d;
}

#left-buttons {
	grid-area: left;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 'seven eight nine' 'four five six' 'one two three' 'zero zero decimal';
}

#nine {
	grid-area: nine;
}

#eight {
	grid-area: eight;
}

#seven {
	grid-area: seven;
}

#six {
	grid-area: six;
}

#five {
	grid-area: five;
}

#four {
	grid-area: four;
}

#three {
	grid-area: three;
}

#two {
	grid-area: two;
}

#one {
	grid-area: one;
}

#zero {
	grid-area: zero;
}

#decimal {
	grid-area: decimal;
}

#left-buttons > button {
	background: #1ca2af;
}

#right-buttons {
	grid-area: right;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 50%;
	grid-template-areas: 'left-p right-p exp negate' 'divide multiply subtract add' 'equals equals equals equals' 'equals equals equals equals';	
}

#divide {
	grid-area: divide;
}

#multiply {
	grid-area: multiply;
}

#subtract {
	grid-area: subtract;
}

#add {
	grid-area: add;
}

#left-parentheses {
	grid-area: left-p;
}

#right-parentheses {
	grid-area: right-p;
}

#exponent {
	grid-area: exp;
}

#negate {
	grid-area: negate;
}

#equals {
	grid-area: equals;
}

#right-buttons > button {
	background: #ce8600;
}

#footer {
	position: absolute;
	width: 97.2vw;
	height: 6vh;
	bottom: 0;
	padding: 0 16px;
	font-size: 0.85em;
	background: #2d2d2d;
	border: 2px solid black;
	border-top: 1px solid black;
}

#codedby {
	float: left;
	position: absolute;
	left: 15px;
	top: 14px;
	text-shadow: 0 0 5px rgb(0, 0, 0, 0.7);
}

#visitme {
	float: right;
	position: absolute;
	right: 15px;
	top: 14px;
	text-shadow: 0 0 5px rgb(0, 0, 0, 0.7);
}